[Unit]
Description=expenis server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/snap/bin/uv run -m src.expenis.server
WorkingDirectory=/home/gog4/ExPenis
StandardOutput=append:/var/log/expenis-server.log
StandardError==append:/var/log/expenis-server-error.log
Environment="EXPENIS_ENV=production"

[Install]
WantedBy=multi-user.target