[Unit]
Description=Timer for ExPenis daily backup
Requires=backup.service

[Timer]
Unit=backup.service
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target