[Unit]
Description=bot for managing expenses
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=uv run main.py
WorkingDirectory=/home/gog4/ExPenis
StandardOutput=append:/var/log/expenis.log
StandardError==append:/var/log/expenis-error.log

[Install]
WantedBy=multi-user.target